# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
charset = utf-8

# using space to replace tab
indent_style = space

[*.{c,py}]
# 4 space indentation
indent_size = 4

[*.{rb,erb}]
# 4 space indentation
indent_size = 2

[*.{html,sass,js,vue,yml}]
# 2 space indentation
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
# Tab indentation (no size specified)
indent_style = tab
